.dash{
    color: black;
    width: 1200px;
    border: 1px solid #F0F0F0;
    font-family: 'poppins',sans-serif;
    border-radius: 30px;
    display: inline-block;
    padding: 15px 32px;
    background-color: #F0F0F0;
    transition: 0.5s;
    

}
.dash:hover{
    color:black ;
    background-color:#b0f7f2 ;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}