/*This css file is used to style the 'PropCat.js' */
.cat1{
    position: relative;
    top: 10px;
    left: 150px;
}
/*this changes the position of the entire content under class 'cat1' in 'PropCat.js'*/
.rat1{
    position: relative;
    top: 40px;
    left: 420px;
}
/*Changes the position of the Heading comes under the class 'rat1' in 'PropCat.js'*/
.one1{
    position: absolute;
    /* left: -500px; */
    top: 150px;
    bottom: 20px;
}
/*Adjusts the Position of First button under the class 'one1' in'PropCat.js'*/
.two1{
    position: absolute;
    /* left: -490px; */
    top: 230px;
    bottom: 20px;
}
/*Adjusts the Position of Second button under the class 'two1' in 'PropCat.js'*/
.three1{
    position: absolute;
    /* left: -490px; */
    top: 300px;
    bottom: 20px;

}
/*Adjusts the Position of Third button under the class 'three1' in 'PropCat.js'*/
.four1{
    position:absolute;
    /* left: -490px; */
    top: 370px;
    bottom: 20px;
}
/*Adjusts the Position of Fourth button under the class 'four1' in 'PropCat.js'*/
.five1{
    position: absolute;
    /* left: -490px; */
    top: 440px;
    bottom: 20px;
}
/*Adjusts the Position of Fifth button under the class 'five1' in 'PropCat.js'*/

.six1{
    position: absolute;
    /* left: -490px; */
    top: 510px;
    bottom: 20px;
}
/*Adjusts the Position of sixth button under the class 'six1' in 'PropCat.js'*/
.btnn1{
    color: black;
    width: 1200px;
    border: 1px solid black;
    background-color: #CCFFD4;
    display: inline-block;
    padding: 15px 32px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*Adjusts the button size,color,shape with class name 'btnn1' in 'PropCat.js'*/
.btnn1:hover{
background-color: blanchedalmond;
color: chartreuse;
}
